{{yield}}

{{fullsize-media activeMedia=activeMedia}}

<p class="debug-media-info" class="hidden">
mcount: {{mediaCount}}
m2count: {{mediaList.length}}
</p>

{{#each mediaList as |media|}}{{media-gallery-item media=media click=(action "mediaClicked" media)}}{{/each}}
Shatabang Simple Gallery
